.award-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin:10px;
}

.stat-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin:10px;
}

mat-form-field {
  margin:10px;
}

.select-img {
  width:30px;
  height:30px;
}

@media (max-width: 720px) {
  .award-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 720px) {
  .stat-cards {
    grid-template-columns: 1fr;
  }
}

.avatar {
  font-size:40px;
}

.emoji {
  font-size:80px;
}

.sticker {
  width:80px;
  margin:10px;
}

.bigstat {
    font-size:50px;
    margin:16px 16px;
}

.tabs {
  position: fixed;
}

img {
  vertical-align:middle;
  margin-right: 5px;
}

.award-table {
  height:100%;
  width:100%;
}

.mat-card-content {
  margin-top:0;
}

.mat-card {
  padding-bottom:0;
}

tr.mat-footer-row, tr.mat-row {
  height:56px;
}

tr:last-child td {
  border-bottom:0
}

mat-card-content {
  margin-top: 5px;
}


