<mat-toolbar color="primary" class="mat-elevation-z10">
  <img src="{{global.imgurl}}" class="rounded-img">
  <h1>{{global.name}}</h1>
  <!--a mat-button href="/awards">Awards</a>
  <a mat-button href="/global">Stats globales</a>
  <a mat-button href="/users">Stats par utilisateur</a-->
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <a mat-mini-fab href="/admin"><mat-icon>settings</mat-icon></a>
</mat-toolbar>

<div class="view-container">
  <router-outlet></router-outlet>
</div>